# Python virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Output folders
outputs/
data/
*.csv
*.joblib
*.json
*.png

# Logs and temporary files
*.log
*.tmp
*.bak

# Environment files
.env
.env.*

# KaggleHub cache (if used)
.kagglehub/